<form class="form-horizontal" role="form">
    <div class="form-group scoreboard">

        <div class="col-xs-6 text-center teamBlock">
            <label for="team1" class="control-label teamName">Team 1:</label>
            <input type='button' class='minusButton' value='-' ng-click='firstMinus()' />
            <input type='text' class='score' value='0' ng-model="dojo.team1" />
            <input type='button' class='plusButton' value='+' ng-click='firstPlus()' />
        </div>

        <div class="col-xs-6 text-center teamBlock">
            <label for="team2" class="control-label teamName">Team 2:</label>
            <input type='button' class='minusButton' value='-' ng-click='secondMinus()' />
            <input type='text' class='score' value='0' ng-model="dojo.team2" />
            <input type='button' class='plusButton' value='+' ng-click='secondPlus()' />
        </div>

        <div class="col-xs-6 text-center teamBlock">
            <label for="team3" class="control-label teamName">Team 3:</label>
            <input type='button' class='minusButton' value='-' ng-click='thirdMinus()' />
            <input type='text' class='score' value='0' ng-model="dojo.team3" />
            <input type='button' class='plusButton' value='+' ng-click='thirdPlus()' />
        </div>

        <div class="col-xs-6 text-center teamBlock">
            <label for="team4" class="control-label teamName">Team 4:</label>
            <input type='button' class='minusButton' value='-' ng-click='forthMinus()' />
            <input type='text' class='score' value='0' ng-model="dojo.team4" />
            <input type='button' class='plusButton' value='+' ng-click='forthPlus()' />
        </div>

        <div class="col-xs-6 text-center teamBlock">
            <label for="team5" class="control-label teamName">Team 5:</label>
            <input type='button' class='minusButton' value='-' ng-click='fifthMinus()' />
            <input type='text' class='score' value='0' ng-model="dojo.team5" />
            <input type='button' class='plusButton' value='+' ng-click='fifthPlus()' />
        </div>

        <div class="col-xs-6 text-center teamBlock">
            <label for="team6" class="control-label teamName">Team 6:</label>
            <input type='button' class='minusButton' value='-' ng-click='sixthMinus()' />
            <input type='text' class='score' value='0' ng-model="dojo.team6" />
            <input type='button' class='plusButton' value='+' ng-click='sixthPlus()' />
        </div>

        <div class="col-xs-6 text-center teamBlock">
            <label for="team7" class="control-label teamName">Team 7:</label>
            <input type='button' class='minusButton' value='-' ng-click='seventhMinus()' />
            <input type='text' class='score' value='0' ng-model="dojo.team7" />
            <input type='button' class='plusButton' value='+' ng-click='seventhPlus()' />
        </div>

        <div class="col-xs-6 text-center teamBlock">
            <label for="team8" class="control-label teamName">Team 8:</label>
            <input type='button' class='minusButton' value='-' ng-click='eighthMinus()' />
            <input type='text' class='score' value='0' ng-model="dojo.team8" />
            <input type='button' class='plusButton' value='+' ng-click='eighthPlus()' />
        </div>
    </div>
    <!-- end of form -->
</form>

<div class="col-xs-6 text-center teamBlock">
    <iframe height="500px" width="800px" scrolling="no" frameborder="0" src="https://sollenne.github.io/jcp/stopwatch/"></iframe>
</div>

<div class="col-xs-6 text-center teamBlock">
    <iframe height="500px" width="800px" scrolling="no" frameborder="0" src="https://sollenne.github.io/jcp/stopwatch/"></iframe>
</div>