<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="team1" class="control-label col-xs-1">Team 1:</label>
        <div class="col-xs-11 score">
            <input type="text" class="form-control" id="team1" ng-model="dojo.team1">
        </div>

        <label for="team2" class="control-label col-xs-1">Team 2:</label>
        <div class="col-xs-11 score">
            <input type="text" class="form-control" id="team2" ng-model="dojo.team2">
        </div>

        <label for="team3" class="control-label col-xs-1">Team 3:</label>
        <div class="col-xs-11 score">
            <input type="text" class="form-control" id="team3" ng-model="dojo.team3">
        </div>

        <label for="team4" class="control-label col-xs-1">Team 4:</label>
        <div class="col-xs-11 score">
            <input type="text" class="form-control" id="team4" ng-model="dojo.team4">
        </div>

        <label for="team5" class="control-label col-xs-1">Team 5:</label>
        <div class="col-xs-11 score">
            <input type="text" class="form-control" id="team5" ng-model="dojo.team5">
        </div>

        <label for="team6" class="control-label col-xs-1">Team 6:</label>
        <div class="col-xs-11 score">
            <input type="text" class="form-control" id="team6" ng-model="dojo.team6">
        </div>

        <label for="team7" class="control-label col-xs-1">Team 7:</label>
        <div class="col-xs-11 score">
            <input type="text" class="form-control" id="team7" ng-model="dojo.team7">
        </div>

        <label for="team8" class="control-label col-xs-1">Team 8:</label>
        <div class="col-xs-11 score">
            <input type="text" class="form-control" id="team8" ng-model="dojo.team8">
        </div>
    </div>
</form>

<div class="col-xs-6">
    <iframe height="300px" width="700px" scrolling="no" frameborder="0" src="https://sollenne.github.io/jcp/stopwatch/"></iframe>
</div>

<div class="col-xs-6">
    <iframe height="300px" width="700px" scrolling="no" frameborder="0" src="https://sollenne.github.io/jcp/stopwatch/"></iframe>
</div>