<div>
    <h3>Questionnaire for the Python Dojo:</h3>
    <ol>
        <li><a ng-click="scrollTo('gcd')" class="pointer">Greatest common divisor</a>
        </li>
        <li><a ng-click="scrollTo('hailstone')" class="pointer">Hailstone sequence</a>
        </li>
        <li><a ng-click="scrollTo('flatten')" class="pointer">Flatten a list</a>
        </li>
        <li><a ng-click="scrollTo('largestprime')" class="pointer">Largest prime factor</a>
        </li>
        <li><a ng-click="scrollTo('evenfibonacci')" class="pointer">Even Fibonacci numbers</a>
        </li>
        <li><a ng-click="scrollTo('multiples')" class="pointer">Multiples of 3 and 5</a>
        </li>
        <li><a ng-click="scrollTo('oddword')" class="pointer">Odd Word Problem</a>
        </li>
        <li><a ng-click="scrollTo('heronian')" class="pointer">Heronian Triangles</a>
        </li>
        <li><a ng-click="scrollTo('largestpalindrome')" class="pointer">Largest palindrome product</a>
        </li>
        <li><a ng-click="scrollTo('smallestultiple')" class="pointer">Smallest Multiple</a>
        </li>
        <li><a ng-click="scrollTo('reversewords')" class="pointer">Reverse words in a string</a>
        </li>
        <li><a ng-click="scrollTo('pi')" class="pointer">Value of Pi</a>
        </li>
        <li><a ng-click="scrollTo('zigzag')" class="pointer">Zig zag matrix</a>
        </li>
        <li><a ng-click="scrollTo('harshad')" class="pointer">Harshad or Niven series</a>
        </li>
        <li><a ng-click="scrollTo('zeckendorf')" class="pointer">Zeckendorf number representation</a>
        </li>
        <li><a ng-click="scrollTo('fibonacci')" class="pointer">Fibonacci n-step numbers sequences</a>
        </li>
        <li><a ng-click="scrollTo('pernicious')" class="pointer">Pernicious numbers</a>
        </li>
        <li><a ng-click="scrollTo('caeser')" class="pointer">Caeser Cipher</a>
        </li>
        <li><a ng-click="scrollTo('subsequenctial')" class="pointer">Greatest subsequential sum</a>
        </li>
        <li><a ng-click="scrollTo('nonsquares')" class="pointer">Sequence of non-squares</a>
        </li>
        <li><a ng-click="scrollTo('digits')" class="pointer">Iterated digits squaring</a>
        </li>
        <li><a ng-click="scrollTo('factorials')" class="pointer">Left factorials</a>
        </li>
        <li><a ng-click="scrollTo('abc')" class="pointer">ABC problem</a>
        </li>
        <li><a ng-click="scrollTo('happy')" class="pointer">Happy number</a>
        </li>
        <li><a ng-click="scrollTo('semiprime')" class="pointer">Semiprime</a>
        </li>
    </ol>
</div>

<section id="demo">
    <h3 class="question-header">0. Hello World</h3>
    <div class="question-description">Type 'Hello World' in the text-box below</div>

    <form ng-submit="hello(z)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="z" ng-enter="hello(z)">
    </form>
</section>

<section id="gcd">
    <h3 class="question-header">1. Greatest common divisor</h3>
    <div class="question-description">This task requires the finding of the greatest common divisor of two integers: 40902 & 24140</div>

    <form ng-submit="gcd(a)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="a" ng-enter="gcd(a)">
    </form>
</section>

<section id="hailstone">
    <h3 class="question-header">2. Hailstone sequence</h3>
    <div class="question-description">The Hailstone sequence of numbers can be generated from a starting positive integer, n by:
        <ul>
            <li>If n is 1 then the sequence ends</li>
            <li>If n is even then the next n of the sequence = n/2</li>
            <li>If n is odd then the next n of the sequence = (3 * n) + 1</li>
        </ul>
        Create a routine to generate the hailstone sequence for a number and calculate the number of elements for n=27
    </div>

    <form ng-submit="hailstone(b)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="b" ng-enter="hailstone(b)">
    </form>
</section>

<section id="flatten">
    <h3 class="question-header">3. Flatten a list</h3>
    <div class="question-description">Write a function to flatten the nesting in an arbitrary list of values. Your program should be able to flatten the following list (no spaces in between elements):
        <pre>[[1], 2, [[3,4], 5], [[[]]], [[[6]]], 7, 8, []]</pre>
    </div>

    <form ng-submit="flatten(c)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="c" ng-enter="flatten(c)">
    </form>
</section>

<section id="largestprime">
    <h3 class="question-header">4. Largest prime factor</h3>
    <div class="question-description">
        <p>The prime factors of 13195 are 5, 7, 13 and 29</p>
        <p>What is the largest prime factor of the number 600851475143?</p>
    </div>

    <form ng-submit="largestprime(d)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="d" ng-enter="largestprime(d)">
    </form>
</section>

<section id="evenfibonacci">
    <h3 class="question-header">5. Even fibonacci series</h3>
    <div class="question-description">
        <p>Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be: 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...</p>
        <p>By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms</p>
    </div>

    <form ng-submit="evenfibonacci(e)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="e" ng-enter="evenfibonacci(e)">
    </form>
</section>

<section id="multiples">
    <h3 class="question-header">6. Multiples of 3 and 5</h3>
    <div class="question-description">If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.</div>

    <form ng-submit="multiples(f)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="f" ng-enter="multiples(f)">
    </form>
</section>

<section id="oddword">
    <h3 class="question-header">7. Odd word problem</h3>
    <div class="question-description">You are promised an input stream consisting of English letters and punctuations. It is guaranteed that
        <ul>
            <li>the words (sequence of consecutive letters) are delimited by one and only one punctuation</li>
            <li>the stream will begin with a word</li>
            <li>the words will be at least one letter long</li>
            <li>a full stop (.) appears after, and only after, the last word</li>
        </ul>
        <p>For the input: "what,is,the;meaning,of:life.", reverse the letters in every other word while leaving punctuations intact, while observing the following restrictions:</p>
        <ul>
            <li>Only I/O allowed is reading or writing one character at a time, which means: no reading in a string, no peeking ahead, no pushing characters back into the stream, and no storing characters in a global variable for later use</li>
            <li>You are not to explicitly save characters in a collection data structure, such as arrays, strings, hash tables, etc, for later reversal</li>
            <li>You are allowed to use recursions, closures, continuations, threads, coroutines, etc., even if their use implies the storage of multiple characters</li>
        </ul>
    </div>

    <form ng-submit="oddword(g)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="g" ng-enter="oddword(g)">
    </form>
</section>

<section id="heronian">
    <h3 class="question-header">8. Heronian Triangles</h3>
    <div class="question-description">
        <p>Hero's formula for the area of a triangle given the length of its three sides
            <i>a</i>, <i>b</i>, and <i>c</i> is given by:
        </p>
        <dl>
            <dd><img class="tex" alt="A = \sqrt{s(s-a)(s-b)(s-c)}," src="http://rosettacode.org/mw/images/math/d/8/5/d858202192abadd0bb8a60fa9dd9b013.png">
            </dd>
        </dl>
        <p>where <i>s</i> is half the perimeter of the triangle; that is,
        </p>
        <dl>
            <dd><img class="tex" alt="s=\frac{a+b+c}{2}." src="http://rosettacode.org/mw/images/math/e/c/5/ec50234ccbbd096784304c4048bc55a7.png">
            </dd>
        </dl>
        <p><b>Heronian triangles</b> are triangles whose sides <i>and area</i> are all integers.
        </p>
        <dl>
            <dd>An example is the triangle with sides 3, 4, 5 whose area is 6 (and whose perimeter is 12).
            </dd>
        </dl>
        <p>Note that any triangle whose sides are all an integer multiple of 3,4,5; such as 6,8,10, will also be a Heronian triangle.
        </p>
        Create a function that implements Hero's formula. Count of how many triangles are found with sides less than/ equal to 200. </div>

    <form ng-submit="heronian(h)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="h" ng-enter="heronian(h)">
    </form>
</section>

<section id="largestpalindrome">
    <h3 class="question-header">9. Largest Palindrome</h3>
    <div class="question-description">
        <p>A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.</p>
        <p>Find the largest palindrome made from the product of two 3-digit numbers</p>
    </div>

    <form ng-submit="largestpalindrome(i)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="i" ng-enter="largestpalindrome(i)">
    </form>
</section>

<section id="smallestmultiple">
    <h3 class="question-header">10. Smallest multiple</h3>
    <div class="question-description">
        <p>2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.</p>
        <p>What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?</p>
    </div>

    <form ng-submit="smallestmultiple(j)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="j" ng-enter="smallestmultiple(j)">
    </form>
</section>

<section id="reversewords">
    <h3 class="question-header">11. Reverse words in a string</h3>
    <div class="question-description">
        <p>The task is to reverse the order of all tokens in each of a number of strings and display the result; the order of characters within a token should not be modified.
        </p>
        <dl>
            <dd> Reverse the following phrase:
                <tt>"Hey you, Bub!"</tt>
            </dd>
        </dl>
    </div>

    <form ng-submit="reversewords(k)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="k" ng-enter="reversewords(k)">
    </form>
</section>

<section id="pi">
    <h3 class="question-header">12. Value of Pi</h3>
    <div class="question-description">Create a program to calculate 11 digits of π (pi) after decimal</div>

    <form ng-submit="pi(l)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="l" ng-enter="pi(l)">
    </form>
</section>

<section id="zigzag">
    <h3 class="question-header">13. Zig zag numbers</h3>
    <div class="question-description">
        <p>Produce a zig-zag array (n=5) and print the sum of its columns.</p>
        <p>A zig-zag array is a square arrangement of the first
            <tt>N<sup>2</sup>
            </tt> integers, where the numbers increase sequentially as you zig-zag along the anti-diagonals of the array.
        </p>
    </div>

    <form ng-submit="zigzag(m)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="m" ng-enter="zigzag(m)">
    </form>
</section>

<section id="harshad">
    <h3 class="question-header">14. Harshad number</h3>
    <div class="question-description">
        <p>The Harshad or Niven numbers are positive integers &gt;= 1 that are divisible by the sum of their digits.
        </p>
        <p>For example, 42 is a Harshad number as 42 is divisible by (4+2) without remainder. Assume that the series is defined as the numbers in increasing order.
        </p>
        <p>The task is to create a function/method/procedure to generate successive members of the Harshad sequence. Use it to list the first twenty members of the sequence.
        </p>
        <p>Show your output here.
        </p>
    </div>

    <form ng-submit="harshad(n)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="n" ng-enter="harshad(n)">
    </form>
</section>

<section id="zeckendorf">
    <h3 class="question-header">15. Zeckendorf</h3>
    <div class="question-description">
        <p>Just as numbers can be represented in a positional notation as sums of multiples of the powers of ten (decimal) or two (binary); all the positive integers can be represented as the sum of one or zero times the distinct members of the Fibonacci series.
        </p>
        <p>Recall that the first six distinct Fibonacci numbers are: 1, 2, 3, 5, 8, 13. The decimal number eleven can be written as 0*13 + 1*8 + 0*5 + 1*3 + 0*2 + 0*1 or 010100 in positional notation where the columns represent multiplication by a particular member of the sequence. Leading zeroes are dropped so that 11 decimal becomes 10100.
        </p>
        <p>10100 is not the only way to make 11 from the Fibonacci numbers however; 0*13 + 1*8 + 0*5 + 0*3 + 1*2 + 1*1 or 010011 would also represent decimal 11. For a true Zeckendorf number there is the added restriction that <i>no two consecutive Fibonacci numbers can be used</i> which leads to the former unique solution.
        </p>
        <p>The task is to generate and show the Zeckendorf number representations for n = 20</p>
    </div>

    <form ng-submit="zeckendorf(o)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="o" ng-enter="zeckendorf(o)">
    </form>
</section>

<section id="fibonacci">
    <h3 class="question-header">16. n-series Fibonacci</h3>
    <div class="question-description">
        <p>These number series are an expansion of the ordinary Fibonacci sequence where</p>
        <ol>
            <li> For <span class="texhtml" dir="ltr"><i>n</i> = 2</span> we have the Fibonacci sequence; with initial values <span class="texhtml" dir="ltr">[1,1]</span> and <img class="tex" alt="F_k^2 = F_{k-1}^2 + F_{k-2}^2" src="http://rosettacode.org/mw/images/math/e/a/8/ea8fba6081e51a2e4f0cd0d58c3c7032.png">
            </li>
            <li> For <span class="texhtml" dir="ltr"><i>n</i> = 3</span> we have the tribonacci sequence; with initial values <span class="texhtml" dir="ltr">[1,1,2]</span> and <img class="tex" alt="F_k^3 = F_{k-1}^3 + F_{k-2}^3 + F_{k-3}^3" src="http://rosettacode.org/mw/images/math/a/9/6/a96e7fe6a7eb7371ab85f6a135b84056.png">
            </li>
            <li> For <span class="texhtml" dir="ltr"><i>n</i> = 4</span> we have the tetranacci sequence; with initial values <span class="texhtml" dir="ltr">[1,1,2,4]</span> and <img class="tex" alt="F_k^4 = F_{k-1}^4 + F_{k-2}^4 + F_{k-3}^4 + F_{k-4}^4" src="http://rosettacode.org/mw/images/math/e/a/2/ea2b3ddffa2a578dbe5d923abd914aa5.png">
                <br>...
            </li>
            <li> For general <span class="texhtml" dir="ltr"><i>n</i> &gt; 2</span> we have the Fibonacci <span class="texhtml" dir="ltr"><i>n</i></span>-step sequence - <img class="tex" alt="F_k^n" src="http://rosettacode.org/mw/images/math/f/6/e/f6e22469b4396d8fa34e202e5c716abc.png">; with initial values of the first <span class="texhtml" dir="ltr"><i>n</i></span> values of the <span class="texhtml" dir="ltr">(<i>n</i> − 1)</span>'th Fibonacci <span class="texhtml" dir="ltr"><i>n</i></span>-step sequence <img class="tex" alt="F_k^{n-1}" src="http://rosettacode.org/mw/images/math/7/9/2/79293ba1053dbc3f23c579b2e8141034.png">; and <span class="texhtml" dir="ltr"><i>k</i></span>'th value of this <span class="texhtml" dir="ltr"><i>n</i></span>'th sequence being <img class="tex" alt="F_k^n = \sum_{i=1}^{(n)} {F_{k-i}^{(n)}}" src="http://rosettacode.org/mw/images/math/c/5/3/c53daded435e185afefbac417fef75e7.png">
            </li>
        </ol>
        <p>Print the first 15 numbers for a heptanacci sequence (n=7)</p>
    </div>

    <form ng-submit="fibonacci(p)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="p" ng-enter="fibonacci(p)">
    </form>
</section>

<section id="pernicious">
    <h3 class="question-header">17. Pernicious numbers</h3>
    <div class="question-description">
        <p>A <i>pernicious number</i> is a positive integer whose population count is a prime.
            <br>The <i>population count</i> (also known as <i>pop count</i>) is the number of <code>1</code>'s (ones) in the binary representation of a non-negative integer.
            <br> For example, <span class="texhtml" dir="ltr">22</span> (which is <code>10110</code> in binary) has a population count of <span class="texhtml" dir="ltr">3</span>, which is prime and so <span class="texhtml" dir="ltr">22</span> is a pernicious number.
        </p>Print the first 25 pernicious numbers</div>

    <form ng-submit="pernicious(q)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="q" ng-enter="pernicious(q)">
    </form>
</section>

<section id="caeser">
    <h3 class="question-header">17. Caesar cipher</h3>
    <div class="question-description">
        <p>Implement a Caesar cipher, both encoding and decoding. The key is an integer from 1 to 25.
        </p>
        <p>This cipher rotates (either towards left or right) the letters of the alphabet (A to Z).
        </p>
        <p>The encoding replaces each letter with the 1st to 25th next letter in the alphabet (wrapping Z to A). So key 2 encrypts "HI" to "JK", but key 20 encrypts "HI" to "BC". Translate the following:
        </p><pre>The quick brown fox jumped over the lazy dogs</pre>
    </div>

    <form ng-submit="caeser(r)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="r" ng-enter="caeser(r)">
    </form>
</section>

<section id="subsequenctial">
    <h3 class="question-header">19. Greatest subsequential sum</h3>
    <div class="question-description">
        <p>Given a sequence of integers, find a continuous subsequence which maximizes the sum of its elements, that is, the elements of no other single subsequence add up to a value larger than this one.</p>
        <p>An empty subsequence is considered to have the sum 0; thus if all elements are negative, the result must be the empty sequence.</p>
        <p>Input is [-1, -2, 3, 5, 6, -2, -1, 4, -4, 2, -1]</p>
    </div>

    <form ng-submit="subsequenctial(s)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="s" ng-enter="subsequenctial(s)">
    </form>
</section>

<section id="nonsquares">
    <h3 class="question-header">20. Sequence of non-squares</h3>
    <div class="question-description">
        Show that the following remarkable formula gives the sequence of non-square natural numbers:
        <pre> n + floor(1/2 + sqrt(n))</pre> Print out the values for n in the range 1 to 22 (comma-separated)
    </div>

    <form ng-submit="nonsquares(t)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="t" ng-enter="nonsquares(t)">
    </form>
</section>

<section id="digits">
    <h3 class="question-header">21. Iterated digits squaring</h3>
    <div class="question-description">
        <p>If you add the square of the digits of a Natural number (an integer bigger than zero), you always end with either 1 or 89:
        </p>
        <pre>15 -&gt; 26 -&gt; 40 -&gt; 16 -&gt; 37 -&gt; 58 -&gt; 89
        <br>7 -&gt; 49 -&gt; 97 -&gt; 130 -&gt; 10 -&gt; 1</pre>
        <dl>
            <dt>Task</dt>
            <dd>
            </dd>
            <dd> Count how many number chains for integers 1 &lt;= n &lt; 100_000_000 end with a value 89.
            </dd>
        </dl>
    </div>

    <form ng-submit="digits(u)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="u" ng-enter="digits(u)">
    </form>
</section>

<section id="factorials">
    <h3 class="question-header">22. Sequence of non-squares</h3>
    <div class="question-description">
        <p><i>Left factorials</i>, <span class="texhtml" dir="ltr">!<i>n</i></span>, may refer to either <i>subfactorials</i> or to <i>factorial sums</i>; the same notation can be confusingly seen used for the two different definitions.
        </p>
        <p>Sometimes, <i>subfactorials</i> (also known as <i>derangements</i>) use any of the notations:
        </p>
        <dl>
            <dd>
                <dl>
                    <dd>
                        <dl>
                            <dd>
                                <dl>
                                    <dd>
                                        <dl>
                                            <dd>
                                                <dl>
                                                    <dd>
                                                        <dl>
                                                            <dd>
                                                                <ul>
                                                                    <li> &nbsp; <span style="font-family:serif">!<i>n</i>`</span>
                                                                    </li>
                                                                    <li> &nbsp; <span class="texhtml" dir="ltr">!<i>n</i>'</span>
                                                                    </li>
                                                                    <li> &nbsp; <span style="font-family:serif"><i>n</i>¡</span>
                                                                    </li>
                                                                </ul>
                                                            </dd>
                                                        </dl>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </dd>
                </dl>
            </dd>
        </dl>
        <p>
            <br>This Code task will be using this formula for <i>left factorial</i>:
        </p>
        <dl>
            <dd><img class="tex" alt="&nbsp;!n = \sum_{k=0}^{n-1} k! " src="http://rosettacode.org/mw/images/math/8/4/9/849352e8826f2519f03a5592304ca834.png">
            </dd>
        </dl>
        <p>where
        </p>
        <p>Display the left factorials for:
        </p>
        <ul>
            <li> zero through ten (inclusive)
            </li>
        </ul>
    </div>

    <form ng-submit="factorials(v)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="v" ng-enter="factorials(v)">
    </form>
</section>

<section id="abc">
    <h3 class="question-header">23. ABC problem</h3>
    <div class="question-description">
        <p>You are given a collection of ABC blocks. Just like the ones you had when you were a kid. There are twenty blocks with two letters on each block. You are guaranteed to have a complete alphabet amongst all sides of the blocks. The sample blocks are:
        </p>
        <dl>
            <dd>((B O)
            </dd>
            <dd> (X K)
            </dd>
            <dd> (D Q)
            </dd>
            <dd> (C P)
            </dd>
            <dd> (N A)
            </dd>
            <dd> (G T)
            </dd>
            <dd> (R E)
            </dd>
            <dd> (T G)
            </dd>
            <dd> (Q D)
            </dd>
            <dd> (F S)
            </dd>
            <dd> (J W)
            </dd>
            <dd> (H U)
            </dd>
            <dd> (V I)
            </dd>
            <dd> (A N)
            </dd>
            <dd> (O B)
            </dd>
            <dd> (E R)
            </dd>
            <dd> (F S)
            </dd>
            <dd> (L Y)
            </dd>
            <dd> (P C)
            </dd>
            <dd> (Z M))
            </dd>
        </dl>
        <p>The goal of this task is to write a function that takes a string 'CONFUSE' and can determine whether you can spell the word with the given collection of blocks - print your answer as true or false. The rules are simple:
        </p>
        <ol>
            <li>Once a letter on a block is used that block cannot be used again
            </li>
            <li>The function should be case-insensitive
            </li>
        </ol>
    </div>

    <form ng-submit="abc(w)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="w" ng-enter="abc(w)">
    </form>
</section>

<section id="happy">
    <h3 class="question-header">24. Happy numbers</h3>
    <div class="question-description">
        <dl>
            <dd>A <a href="http://en.wikipedia.org/wiki/Happy_number" class="extiw" title="wp:Happy number">happy number</a> is defined by the following process. Starting with any positive integer, replace the number by the sum of the squares of its digits, and repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1. Those numbers for which this process ends in 1 are happy numbers, while those that do not end in 1 are unhappy numbers. Display an example of your output here.
            </dd>
        </dl>
        <p><b>Task:</b> Find and print the first 8 happy numbers.
        </p>
    </div>

    <form ng-submit="happy(x)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="x" ng-enter="happy(x)">
    </form>
</section>

<section id="semiprime">
    <h3 class="question-header">25. Semiprime</h3>
    <div class="question-description">
        <p>Semiprime numbers are natural numbers that are products of exactly two (possibly equal) prime numbers. Example: 1679 = 23 × 73</p>
        <p>Output all semiprimes below 100</p>
    </div>

    <form ng-submit="semiprime(y)">
        <input type="text" class="form-control answerText" placeholder="Answer" ng-model="y" ng-enter="semiprime(y)">
    </form>
</section>

<section>
    <h3 class="question-header">End of Questions</h3>
</section>