<div>
    <ol>
        <li><a ng-click="scrollTo('gcd')" class="pointer">Greatest common divisor</a>
        </li>
        <li><a ng-click="scrollTo('hailstone')" class="pointer">Hailstone sequence</a>
        </li>
        <li><a ng-click="scrollTo('flatten')" class="pointer">Flatten a list</a>
        </li>
        <li><a ng-click="scrollTo('largestprime')" class="pointer">Largest prime factor</a>
        </li>
        <li><a ng-click="scrollTo('evenfibonacci')" class="pointer">Even Fibonacci numbers</a>
        </li>
        <li><a ng-click="scrollTo('multiples')" class="pointer">Multiples of 3 and 5</a>
        </li>
        <li><a ng-click="scrollTo('oddword')" class="pointer">Odd Word Problem</a>
        </li>
        <li><a ng-click="scrollTo('heronian')" class="pointer">Heronian Triangles</a>
        </li>
        <li><a ng-click="scrollTo('largestpalindrome')" class="pointer">Largest palindrome product</a>
        </li>
        <li><a ng-click="scrollTo('smallestultiple')" class="pointer">Smallest Multipl</a>
        </li>
        <li><a ng-click="scrollTo('longeststring')" class="pointer">Longest String challenge</a>
        </li>
        <li><a ng-click="scrollTo('pi')" class="pointer">Pi</a>
        </li>
        <li><a ng-click="scrollTo('zigzag')" class="pointer">Zig zag matrix</a>
        </li>
        <li><a ng-click="scrollTo('harshad')" class="pointer">Harshad or Niven series</a>
        </li>
        <li><a ng-click="scrollTo('zeckendorf')" class="pointer">Zeckendorf number representation</a>
        </li>
        <li><a ng-click="scrollTo('fibonacci')" class="pointer">Fibonacci n-step numbers sequences</a>
        </li>
        <li><a ng-click="scrollTo('pernicious')" class="pointer">Pernicious numbers</a>
        </li>
        <li><a ng-click="scrollTo('reversewords')" class="pointer">Reverse words in a string</a>
        </li>
        <li><a ng-click="scrollTo('doors')" class="pointer">100 doors</a>
        </li>
        <li><a ng-click="scrollTo('caesar')" class="pointer">Caesar cipher</a>
        </li>
        <li><a ng-click="scrollTo('digits')" class="pointer">Iterated digits squaring</a>
        </li>
        <li><a ng-click="scrollTo('factorials')" class="pointer">Left factorials</a>
        </li>
        <li><a ng-click="scrollTo('abc')" class="pointer">ABC problem</a>
        </li>
        <li><a ng-click="scrollTo('happy')" class="pointer">Happy number</a>
        </li>
        <li><a ng-click="scrollTo('magic')" class="pointer">Magic square of odd numbers</a>
        </li>
        <li><a ng-click="scrollTo('subsequenctial')" class="pointer">Greatest subsequential sum</a>
        </li>
        <li><a ng-click="scrollTo('nonsquares')" class="pointer">Sequence of non-squares</a>
        </li>
    </ol>
</div>

section>h2+div+form>input

<section id="gcd">
    <h2>1. Greatest common divisor</h2>
    <div>This task requires the finding of the greatest common divisor of two integers - 40902 & 24140</div>

    <form ng-submit="gcd(a)">
        <input type="text" class="form-control" placeholder="Answer" ng-model="a" ng-enter="gcd(a)">
    </form>
</section>

<section id="hailstone">
    <h2>2. Hailstone sequence</h2>
    <div>The Hailstone sequence of numbers can be generated from a starting positive integer, n by:
        <ul>
            <li>If n is 1 then the sequence ends</li>
            <li>If n is even then the next n of the sequence = n/2</li>
            <li>If n is odd then the next n of the sequence = (3 * n) + 1</li>
        </ul>
        Create a routine to generate the hailstone sequence for a number and calculate the number of elements for n=27
    </div>

    <form ng-submit="hailstone(b)">
        <input type="text" class="form-control" placeholder="Answer" ng-model="b" ng-enter="hailstone(b)">
    </form>
</section>

<section id="flatten">
    <h2>3. Flatten a list</h2>
    <div>Write a function to flatten the nesting in an arbitrary list of values. Your program should be able to flatten the following list:
        <code>[[1], 2, [[3,4], 5], [[[]]], [[[6]]], 7, 8, []]</code>
    </div>

    <form ng-submit="flatten(c)">
        <input type="text" class="form-control" placeholder="Answer" ng-model="c" ng-enter="flatten(c)">
    </form>
</section>

<section id="largestprime">
    <h2>4. Largest prime factor</h2>
    <div>The prime factors of 13195 are 5, 7, 13 and 29. What is the largest prime factor of the number 600851475143 ?</div>

    <form ng-submit="largestprime(d)">
        <input type="text" class="form-control" placeholder="Answer" ng-model="d" ng-enter="largestprime(d)">
    </form>
</section>

<section id="evenfibonacci">
    <h2>5. Even fibonacci series</h2>
    <div>Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be: 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
        <br>By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.</div>

    <form ng-submit="evenfibonacci(e)">
        <input type="text" class="form-control" placeholder="Answer" ng-model="e" ng-enter="evenfibonacci(e)">
    </form>
</section>

<section id="multiples">
    <h2>6. Multiples of 3 and 5</h2>
    <div>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.</div>

    <form ng-submit="multiples(f)">
        <input type="text" class="form-control" placeholder="Answer" ng-model="f" ng-enter="multiples(f)">
    </form>
</section>

<section id="oddword">
    <h2>7. Odd word problem</h2>
    <div>You are promised an input stream consisting of English letters and punctuations. It is guaranteed that
        <ul>
            <li>the words (sequence of consecutive letters) are delimited by one and only one punctuation; that</li>
            <li>the stream will begin with a word; that</li>
            <li>the words will be at least one letter long; and that</li>
            <li>a full stop (.) appears after, and only after, the last word.</li>
        </ul>
        For example, what,is,the;meaning,of:life. is such a stream with six words. Your task is to reverse the letters in every other word while leaving punctuations intact, while observing the following restrictions:
        <ul>
            <li>Only I/O allowed is reading or writing one character at a time, which means: no reading in a string, no peeking ahead, no pushing characters back into the stream, and no storing characters in a global variable for later use</li>
            <li>You are not to explicitly save characters in a collection data structure, such as arrays, strings, hash tables, etc, for later reversal</li>
            <li>You are allowed to use recursions, closures, continuations, threads, coroutines, etc., even if their use implies the storage of multiple characters</li>
        </ul>
    </div>

    <form ng-submit="oddword(g)">
        <input type="text" class="form-control" placeholder="Answer" ng-model="g" ng-enter="oddword(g)">
    </form>
</section>

<section id="heronian">
    <h2>8. Heronian Triangles</h2>
    <div>Hero's formula for the area of a triangle given the length of its three sides a, b, and c is given by: A = \sqrt{s(s-a)(s-b)(s-c)}, where s is half the perimeter of the triangle; that is, s=\frac{a+b+c}{2}. Heronian triangles are triangles whose sides and area are all integers. An example is the triangle with sides 3, 4, 5 whose area is 6 (and whose perimeter is 12). The task is to Create a named function that implements Hero's formula and count of how many triangles are found with sides less than or equal to 200.</div>
    
    <form ng-submit="heronian(h)">
        <input type="text" class="form-control" placeholder="Answer" ng-model="h" ng-enter="heronian(h)">
    </form>
</section>

<section id="largestpalindrome">
	<h2>9. Largest Palindrome</h2>
	<div>A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two 3-digit numbers.</div>
	
	<form ng-submit="largestpalindrome(i)">
	    <input type="text" class="form-control" placeholder="Answer" ng-model="i" ng-enter="largestpalindrome(i)">
	</form>
</section>

<section id="smallestmultiple">
	<h2>10. Smallest multiple</h2>
	<div>2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder. What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?</div>
	
	<form ng-submit="smallestmultiple(j)">
	    <input type="text" class="form-control" placeholder="Answer" ng-model="j" ng-enter="smallestmultiple(j)">
	</form>
</section>

<section id="longeststring">
	<h2>11. Longest string challenge</h2>
	<div></div>
	
	<form ng-submit="longeststring(k)">
	    <input type="text" class="form-control" placeholder="Answer" ng-model="k" ng-enter="longeststring(k)">
	</form>
</section>

<section id="pi">
	<h2>12. Value of Pi</h2>
	<div></div>
	
	<form ng-submit="pi(l)">
		    <input type="text" class="form-control" placeholder="Answer" ng-model="l" ng-enter="pi(l)">
		</form>
</section>

<section id="zigzag">
	<h2>13. Zig zag numbers</h2>
	<div></div>
	
	<form ng-submit="zigzag(m)">
		    <input type="text" class="form-control" placeholder="Answer" ng-model="m" ng-enter="zigzag(m)">
		</form>
</section>

<section id="harshad">
	<h2>14. Harshad number</h2>
	<div></div>
	
	<form ng-submit="harshad(n)">
		    <input type="text" class="form-control" placeholder="Answer" ng-model="n" ng-enter="harshad(n)">
		</form>
</section>

<section id="zeckendorf">
	<h2>15. Zeckendorf</h2>
	<div></div>
	
	<form ng-submit="smallestmultiple(o)">
		    <input type="text" class="form-control" placeholder="Answer" ng-model="o" ng-enter="smallestmultiple(o)">
		</form>
</section>

<section id="fibonacci">
	<h2>16. n-series Fibonacci</h2>
	<div></div>
	
	<form ng-submit="fibonacci(p)">
		    <input type="text" class="form-control" placeholder="Answer" ng-model="p" ng-enter="fibonacci(p)">
		</form>
</section>
